version: '3.8'

services:
  welding-app:
    build: .
    container_name: welding-defect-app
    # Eliminamos 'ports' porque Traefik ya maneja el tráfico.
    # Si necesitas probar localmente, descoméntalo, pero en producción es mejor quitarlo.
    # ports:
    #   - 8501:8501
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    # Comando importante para que Streamlit funcione bien tras un proxy
    command: streamlit run app.py --server.port=8501 --server.address=0.0.0.0 --server.enableCORS=false --server.enableXsrfProtection=false
    restart: unless-stopped
